header {
  min-height: 100px;
  background-color: RGB(45, 63, 80);
}
.bgc-green {
  background-color: RGB(26, 188, 156);
  height: 500px;
}
.title-portfolio {
  min-height: 200px;
  width: 100%;
}
.card {
  min-height: 800px;
}
.row-card {
  min-height: 200px;
}
.row-card > [class^="col"] {
  min-height: 400px;
  width: 100%;
  background-color: blue;
  margin-bottom: 20px;
}
